<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Exemplo de projeto Node, Express e EJS.</title>
</head>
<body>
    <header>
        <ul class="nav">
            <a class="navItem" href="/perfil">
                <li>Perfil</li>
            </a>
            <a class="navItem" href="/projetos">
                <li>Projetos</li>
            </a>
        </ul>
    </header>