<%- include('header') -%>
    <img src="/media/perfil.png" class="perfil" />
    <div class="name"><a><h1>Guilherme Madeira da SIlveira</h1></a></div>
    <div class="description"><a><h2>Estudando Análise e Desenvolvimento de Sistemas na Fatec SJC.</h2></a></div>
    <div class="button-align"><a href="https://github.com/zMadeira"><button class="button">Github</button></a></div>

    <%- include('footer') -%>